@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: normal;
    src: local('Poppins'), url('./Fonts/Poppins-Medium.otf') format('opentype');
  }

body{
    font-family: 'Poppins';
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-flow: column;
}

.title{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 10px;
}

.up{
    display: flex;  
    flex-direction: row;
    margin: 10px;
    column-gap: 10px;
}

.preview{
    flex: 2;
    display: flex;  
    flex-direction: column;
    padding: 10px;
}

.previewTitle{
    color: white;
    font-size: large;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    font-weight: bold;
    background-color: orange;
    border-radius: 12px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    padding: 10px;
    border-bottom: gray solid;
}

.previewImg{
    height:250px;
    background-color: burlywood;
    border-radius: 12px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}


.infoBar{
    flex: 1;
    font-size: large;
}

.down{
    display: flex;
    flex-direction: row;
    column-gap: 40px;
    color: white;

}

.btn{
    background-color: gray;
    flex: 1;
    margin: 10px;
    padding: 10px 20px;
    border-radius: 4px;
    text-align: center;
    font-size: large;
    height: min-content;
}

.menuItem{
    background-color: red;
}