@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: normal;
    src: local('Poppins'), url('./Fonts/Poppins-Medium.otf') format('opentype');
  }

body{
    font-family: 'Poppins';
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-flow: column;
}

.title{
    background-color: white;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 10px;
}

.content{
    display: flex;
    flex-direction: column;
    height: 400px;
}

.up, .down{
    flex: 9;
    display: flex;  
    flex-direction: row;
    margin: 10px;
    column-gap: 10px;
}

.menuItem{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.menuBox{
    width: 100px;
    height: 80px;
    padding: 10px 20px;
    margin: 0px auto;
    border-radius: 12px;
    text-align: center;
    background-color: gray;
    border: 2px solid black;
}

.menuText{
    width: 60%;
    margin: -2px auto;
    text-align: center;
    font-size: medium;
    border: 2px black solid;
    border-radius: 8px;
    padding: 4px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}