@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: normal;
    src: local('Poppins'), url('./Fonts/Poppins-Medium.otf') format('opentype');
  }

body{
    font-family: 'Poppins';
    background-color: white;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-flow: column;
}

.title {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 10px;
}

.up {
    display: flex;
    flex-direction: row;
    margin: 10px;
    height: 250px;
    margin-top: 60px;
    background-color: white;
    column-gap: 10px;
    width: 60%;
    align-self: center;
    vertical-align: middle;
    border-radius: 8px;
    border: solid rgb(255, 132, 25);
    border-width: 4px;
}

.topbar {
    width: 100%;
    height: 30px;
    background-color: rgb(255, 132, 25);
    text-align: center;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    font-size: larger;
}

.r1 {
    display: flex;
    column-gap: 30px;
    margin-left: 30px;
    margin-top: 25px;
}

.r2 {
    margin-top: 50px;
    display: flex;
    column-gap: 30px;
    margin-left: 30px;
}

.b1 {
    color: white;
    border-radius: 6px;
    background-color: grey;
    text-align: center;
    width: min-content;
    display: flex;
    align-self: center;
    padding: 10px 40px;
}

.type {
    text-align: left;
}

.t {
    color: white;
    font-size: x-large;
}

.preview {
    flex: 2;
    display: flex;
    flex-direction: column;
    background-color: olive;
    padding: 10px;
}

.previewTitle {
    color: white;
    background-color: orange;
}

.previewImg {
    height: 200px;
    background-color: blue;
    border-radius: 12px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}


.infoBar {
    flex: 1;
    background-color: bisque;
    font-size: large;
}

.down {
    display: flex;
    flex-direction: row;
    column-gap: 40px;
    color: white;

}

.btn {
    background-color: red;
    flex: 1;
    margin: 10px;
    padding: 5px 10px;
    border-radius: 4px;
    text-align: center;
    font-size: xx-large;

}

.bottom {
    margin-top: 30px;
    align-self: center;
}

.button {
    width: min-content;
    padding: 5px 40px;
    background-color: rgb(32, 90, 238);
    color: white;
    border-radius: 6px;
    text-align: center;

}