<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/menu.css') }}">
</head>
<body>
    <div class="logo">
        <img src="{{ url_for('static', filename='img/rvlogo.jpg') }}" height="40px" width="40px">
    </div>
    <div class="title">
        <h1>Menu</h1>
    </div>
    <div class="subtitle">
        <h3>Please Select the Required Service</h3>
    </div>

    <div class="items">
        <div class="ww">
            <button onclick="location.href='./?type=Woven'"  class="butt">Weft Warp Count Per Inch</button>
            <div class="txt">
                <p>For Woven Cloths</p>
            </div>
        </div>
        <div class="kh">
            <button onclick="location.href='./?type=Knitted'"  class="butt">Hole Count</button>
            <div class="txt">
                <p>For Knitted Cloths</p>
            </div>
        </div>
        <div class="cm">
            <button onclick="location.href='./index.html'"   class="butt">Material of Cloth</button>
            <div class="txt">
                <p>Using AI & ML Determine Cloth Material Accurately!</p>
            </div>
        </div>
    </div>
    
</body>
</html>
